<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="OutputPath" value="g:/projects/PaletteSources/Palettes" />
		<add key="SourceDir" value="G:/projects/PaletteSources" />
		<add key="DesiredColorCount" value="64" />
	</appSettings>
</configuration>